input {
  margin: 15px 0 0 20px
}

textarea {
  padding: 10px;
  font-size: 16px;
  margin: 20px;
  width: 500px;
  border-radius: 10px;
  background-color: #4c4cc4;
  color: #d4ceff;
  border: none;
  resize: none;
  box-shadow: 0 5px 10px #d4ceff,
  0 3px 6px #d4ceff;
}

button, a {
  border-radius: 30px;
  background-color: #4c4cc4;
  padding: 12px 15px;
  font-size: 20px;
  display: block;
  margin: 0 20px;
  border: none;
  box-shadow: 0 5px 10px #d4ceff,
  0 3px 6px #d4ceff;
  cursor: pointer;
  text-decoration: none;
}

hr {
  margin: 20px;
}

.stop {
  display: inline;
  background-color: #c44c66c0;
}

.time {
  width: 40px
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: 20px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: start;
}